.board {
	width: 600px;
	height: 600px;
}

div {
	height: 200px;
	width: 200px;
	float: left;
}

.board div:nth-child(odd) {
	background-color:#850000;
}

.board div:nth-child(even) {
	background-color: #fff;
}

img {
	margin: 23px auto;
	display: block;
}